# Xcode
DerivedData/
build/
*.xcuserstate
*.xcodeproj/xcuserdata/
*.xcworkspace/xcuserdata/

# macOS
.DS_Store

# Swift Package Manager
.swiftpm/
.build/

# API Keys / Secrets
Secrets.plist
Config.xcconfig